@model IEnumerable<StoreData.Models.Orders>

<table class="table text-center">
    <thead>
        <tr>
            <th style="width: 20%">訂單ID</th>
            <th style="width: 20%">訂單狀態</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                <strong>@item.OrderID</strong>
            </td>
            <td>
                <button type="button" class="btn btn-success">查詢</button>
            </td>
        </tr>
        <tr>
            <td>
                <strong>@item.OrderID</strong>
            </td>
            <td>
                <button type="button" class="btn btn-success">查詢</button>
            </td>
        </tr>
        <tr>
            <td>
                <strong>@item.OrderID</strong>
            </td>
            <td>
                <button type="button" class="btn btn-success">查詢</button>
            </td>
        </tr>
        <tr>
            <td>
                <strong>@item.OrderID</strong>
            </td>
            <td>
                <button type="button" class="btn btn-success">查詢</button>
            </td>
        </tr>
}
    </tbody>
</table>
