
@{
    ViewBag.Title = "管理者頁面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="exampleModaladd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">ProductName</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="ProductName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">CategoryName</label>
                        <select class="custom-select" required>
                            <option value="">鉛筆</option>
                            <option value="1">鋼筆</option>
                            <option value="2">原子筆</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Stock</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Stock">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">UnitPrice</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="UnitPrice">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Size</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Size">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Color</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Color">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Instructions</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Instructions">
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Path</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </form>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-8 mb-3">
            <h3>管理者名稱</h3>
        </div>
        <div class="col-12 text-center">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" style="width:30%;">
                    <a class="nav-link btn-outline-dark active navli" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="#"
                       aria-selected="true">Product</a>
                </li>
                <li class="nav-item" style="width:30%;">
                    <a class="nav-link btn-outline-dark navli" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="#"
                       aria-selected="false">Customer</a>
                </li>
                <li class="nav-item" style="width:30%;">
                    <a class="nav-link btn-outline-dark navli" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="#"
                       aria-selected="false">Orders</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row mt-2">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-3 col-10">
                            <form class="form ">
                                <div class="input-group input-group mb-3 mr-2 ">
                                    <input type="text" class="form-control w-50" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                                           style="opacity:0.8;">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">搜尋</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1 col-2">
                            <button type="button" class="btn btn-block btn btn-success" data-toggle="modal" data-target="#exampleModaladd">+</button>
                        </div>
                    </div>
                    @{Html.RenderAction("ManagementProduct");}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mt-2">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-3 col-10">
                                <form class="form ">
                                    <div class="input-group input-group mb-3 mr-2 ">
                                        <input type="text" class="form-control w-50" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2"
                                               style="opacity:0.8;">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">搜尋</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    @{Html.RenderAction("ManagementCustomer");}
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <ul class="nav nav-tabs justify-content-center mt-5" id="myTab2" role="tablist">
                        <li class="nav-item" style="width:30%">
                            <a class="nav-link btn-outline-dark active navli" id="home-tab-nofinish" data-toggle="tab" href="#nofinish" role="tab" aria-controls="#"
                               aria-selected="true">未出貨</a>
                        </li>
                        <li class="nav-item" style="width:30%">
                            <a class="nav-link btn-outline-dark navli" id="profile-tab-finish" data-toggle="tab" href="#yesfinish" role="tab" aria-controls="#"
                               aria-selected="false">已出貨</a>
                        </li>
                        <li class="nav-item" style="width:30%">
                            <a class="nav-link btn-outline-dark navli" id="contact-tab-finish" data-toggle="tab" href="#allfinish" role="tab" aria-controls="#"
                               aria-selected="false">到貨</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="nofinish" role="tabpanel" aria-labelledby="home-tab-nofinish">
                            @{ Html.RenderAction("ManagementOrders_Status_0");}
                        </div>
                        <div class="tab-pane fade" id="yesfinish" role="tabpanel" aria-labelledby="profile-tab-finish">
                            <div class="tab-pane fade show active" id="nofinish" role="tabpanel" aria-labelledby="home-tab-nofinish">
                                @{ Html.RenderAction("ManagementOrders_Status_1");}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="allfinish" role="tabpanel" aria-labelledby="contact-tab">
                            @{ Html.RenderAction("ManagementOrders_Status_2");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

