@model IEnumerable<StoreData.Models.Orders>


<table class="table text-center">
    <thead>
        <tr>
            <th style="width: 20%">訂單ID</th>
            <th style="width: 20%">出貨</th>
            <th style="width: 20%">到貨</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>123456789</strong>
            </td>
            <td>
                <button type="button" class="btn btn-success">出貨</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">取消</button>
            </td>
        </tr>
    </tbody>
</table>
