@model StoreData.ViewModels.Customer.CartItem

@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/NewHome/css");

<div class="banner10" id="home1">
    <div class="container">
        <h2>Checkout</h2>
    </div>
</div>
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href=@Url.RouteUrl(new { Controller = "Home", Action = "Index" })><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Checkout</li>
        </ul>
    </div>
</div>
<div class="checkout">
    <div class="container">
        <h3>Your shopping cart contains: <span>3 Products</span></h3>

        <div class="checkout-right">



            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th style="width:300px">Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                @foreach (var item in Model.GetAllChartList)
            {
            <tr class="rem1">
                <td class="invert">1</td>
                <td class="invert-image"><a href="single.html"><img src="~/FileUploads/" alt=" " class="img-responsive" /></a></td>
                <td class="invert">
                    <div class="quantity">
                        <div class="quantity-select">
                            <div class="entry value-minus">&nbsp;</div>
                            <div class="entry value"><span>@item.Quantity</span></div>
                            <div class="entry value-plus active">&nbsp;</div>
                        </div>
                    </div>
                </td>
                <td class="invert">@Model.ProductName</td>
                <td class="invert">@Model.UnitPrice</td>
                <td class="invert">
                    <div class="rem">
                        <div class="close1"></div>
                    </div>
                </td>
            </tr>
        }
            </table>


            <script>
                $('.value-plus').on('click', function () {
                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                    divUpd.text(newVal);
                });

                $('.value-minus').on('click', function () {
                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                    if (newVal >= 1) divUpd.text(newVal);
                });
                //1
                $(document).ready(function (c) {
                    $('.close1').on('click', function (c) {
                        $('.rem1').fadeOut('slow', function (c) {
                            $('.rem1').remove();
                        });
                    });
                });                                           
            </script>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <h4>Continue to basket</h4>
                <ul>
                    <li>Product1 <i>-</i> <span>$200.00 </span></li>
                    <li>Product2 <i>-</i> <span>$270.00 </span></li>
                    <li>Product3 <i>-</i> <span>$212.00 </span></li>
                    <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
                    <li>Total <i>-</i> <span>$697.00</span></li>
                </ul>
            </div>
            <div class="checkout-right-basket">
                <a href="products.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

