@model StoreData.ViewModels.Customer.CheckAccount

@using (Html.BeginForm("CustomerLogin", "Customer"))
{
    @Html.TextBoxFor(model => model.CustomerID, new { @class = "register-margin", @type = "text", @name = "CustomerID", @placeholder = "帳號" })
    @Html.ValidationMessageFor(model => model.CustomerID, null, new { @class = "text-danger" })
    @Html.TextBoxFor(model => model.CustomerPassword, new { @class = "register-margin", @type = "Password", @name = "CustomerPassword", @placeholder = "密碼" })
    @Html.ValidationMessageFor(model => model.CustomerPassword, null, new { @class = "text-danger" })
    <div class="sign-up">
        <input type="submit" value="登入" />
    </div>
}