<!--側邊欄-->
<div class="w3ls_dresses_grid_left_grid">
    <h3>Member Modification</h3>
    <div class="w3ls_dresses_grid_left_grid_sub">
        <div class="list-group" id="list-tab" role="tablist">
            <ul class="panel_bottom">
                <li>
                    <a href=@Url.RouteUrl(new {Controller="Customer", Action="SelectCustomer"})>會員資料修改</a>
                </li>
                <li>
                    <a href=@Url.RouteUrl(new { Controller = "Customer", Action = "ChangePassword" })>密碼修改</a>
                </li>
                <li>
                    <a href=@Url.RouteUrl(new {Controller="Customer", Action="OrderList"})>訂單資料查詢</a>
                </li>
            </ul>
        </div>
    </div>
</div>