@model IEnumerable<StoreData.Models.Products>
@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Model.ToList();
}
@{ Html.RenderAction("_NavPartial", "Home");}
<div class="row text-center mt-5">
    <div class="col">
        <img class="image" src='/FileUploads/carousel-1.jpg' alt='' />
    </div>
</div>
<div class="row text-center my-5">
    <div class="col">
        <img class="image" src='/FileUploads/carousel-2.jpg' alt='' />
    </div>
</div>
<h6>Top</h6>

    <div class="row mt-2">
        @for (int j = 0; j < 8; j++)
        {
            <div class="col-6 col-md-3 mb-3 ">
                <div class="image-container">
                    <a href="/Product/@list[j].ProductID">
                        <img class="image" src='/FileUploads/@list[j].Path' alt='' style="width:255px;height:255px;">
                    </a>
                    <div class="overlay">@list[j].ProductName</div>
                </div>
            </div>
        }
    </div>

@*<div class="row mt-2">
        <div class="col-6 col-md-3 mb-3 ">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
    </div>
    <div class="row md-mt-2">
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="image-container">
                <img class="image" src='https://placehold.it/200x200' alt=''>
                <div class="overlay">TEST</div>
            </div>
        </div>
    </div>*@