@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="use-flexbox mt-5">
    <img src="https://placehold.it/140x140" alt="">
</div>
<hr class=" my-1">
<hr class=" my-1">
<ul class="nav nav-fill font-weight-bold">
    <li class="nav-item">
        <a class="nav-link active" href="#">首頁</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">商店</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">鉛筆</a>
            <a class="dropdown-item" href="#">原子筆</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">關於</a>
    </li>
</ul>
<hr class=" my-1">
<hr class=" my-1">
<div class="row text-center mt-5">
    <div class="col">
        <img class="image" src='https://placehold.it/890x630' alt=''/>
    </div>
</div>
<div class="row text-center my-5">
    <div class="col">
        <img class="image" src='https://placehold.it/890x630' alt=''/>
    </div>
</div>
<h6>Top</h6>
<div class="row mt-2">
    <div class="col-6 col-md-3 mb-3 ">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
</div>
<div class="row md-mt-2">
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
        <div class="image-container">
            <img class="image" src='https://placehold.it/200x200' alt=''>
            <div class="overlay">TEST</div>
        </div>
    </div>
</div>